.navbar {
    background-color: rgb(1, 92, 127);
    opacity: 0.7;
    z-index: 0;
}

.site-header{
    position: fixed;
    width: 100%;
    z-index: 1;
}

.main-navigation{
    min-height: 0;
}

.mega-menu-wrap {
    background: transparent !important;
}